<div class="container-fluid" style="background-color: #1174D0; color: white;">
    <div class="container">

        <div class="row">
            <div class="col-sm-6" style="padding-bottom: 10px;">
                <i style="padding-top: 20px;" class="fa fa-book fa-3x" aria-hidden="true"></i>
                <span class="logo">PATHSHALA</span>
            </div>
    
            <div class="col-sm-6 d-flex justify-content-end details" style="padding-top: 15px; padding-bottom: 10px;">
                
                <i class="fa fa-phone-square fa-2x logo_1" aria-hidden="true"></i>
                Call Us<br>
                +91-7018175076

                <i class="fa fa-envelope fa-2x logo_1" style="padding-left: 30px;" aria-hidden="true"></i>
                E-mail Us<br>
                prernabhatia05@gmail.com
            </div>
        </div>

        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Courses <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Videos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Payment</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li> -->
                <!-- <li class="nav-item">
                  <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
              </ul>
              <div class="d-flex justify-content-end">
                <button class="btn btn-success mr-3" type="submit" style="color: white;">Login</button>
                <button class="btn btn-warning mr-3" type="submit" style="color: white;">Sign up</button>
            </div>
            </div>
          </nav>

    </div>
</div>