.logo{
    font-size: 25px;
    padding-left: 5px;
    vertical-align: 5px;
}

.logo_1{
    margin-top: 4px;
    padding-right: 10px;
}

.navbar{
    margin-top: 10px;
}

@media (max-width: 452px) {
    .details {
        font-size: 11px;
    }
}