<div class="container-fluid head_main_container">
    <div class="container">

        <div class="row">
            <div class="col-sm-6" style="padding-bottom: 10px;">
                <i style="padding-top: 20px;" class="fa fa-book fa-3x" aria-hidden="true"></i>
                <span class="logo">PATHSHALA</span>
            </div>
    
            <div class="col-sm-6 d-flex justify-content-end details" style="padding-top: 15px; padding-bottom: 10px;">
                
                <i class="fa fa-phone-square fa-2x logo_1" aria-hidden="true"></i>
                Call Us<br>
                +91-7018175076

                <i class="fa fa-envelope fa-2x logo_1" style="padding-left: 30px;" aria-hidden="true"></i>
                E-mail Us<br>
                prernabhatia05@gmail.com
            </div>
        </div>

        <nav class="navbar navbar-expand-xl navbar-light bg-light">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Courses <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">Videos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Payment</a>
                </li>
              </ul>
              <div class="d-flex justify-content-end button">
                <button class="btn mr-3" type="submit" style="color: white; background-color: #043C6D;">Login</button>
                <button class="btn mr-3" type="submit" style="color: white; background-color: #043C6D;">Sign up</button>
              </div>
            </div>
          </nav>

    </div>
</div>



<router-outlet></router-outlet>


<!-- <app-homepage></app-homepage> -->


<!-- Footer -->
<footer class="page-footer pt-4 footer_main_container">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <p style="font-size: 20px; font-weight: 500;" class="text-uppercase">MATHS PATHSHALA</p>
        <p style="font-weight: 300;">Here we will clear all your doubts and take out your fear of MATHS.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://pathshala-atul.herokuapp.com/"> pathshala-atul.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->